@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}
body { margin: 0;}
ul {list-style: none; padding: 0;margin:0;}
a { text-decoration: none; color: inherit;}
#wrap{
    background-color: #f3f3f3;
    font-family: 'NanumSquareRound';
}
.go_top{
    display: none;
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #979797;
    text-align: center;
    line-height: 50px;
}
#header{
    width: 100%;
    max-width: 1600px;
    height: 8vh;
    max-height: 90px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: inherit;
}
.header_fixed{
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    z-index: 9999;
}
.logo_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo2{
    transform: translateY(8px);
}
.logo{
    padding: 0 0 0 20px;
}

.h_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h_menu_li{
    padding: 0 10px;

}